@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1200px;
  
  background-color: black;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
  background-color: black;
}